.pageContainer {
    padding: 32px 0;
}

.sidebarWrapper {
    position: absolute;
    height: 100vh;
    left: 0;
  }

.ContentWrapper {
  position: absolute;
  height: 100vh;
  left: 20%;
}
  
  .pageContentWrapper {
    width: 100%;
  }


  .userProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .profilePic {
    width: 100px;
    border-radius: 50%;  /* Make the profile picture round */
  }

